/*
    Document   : css/theme.css
    Created on : 2014-01-30 01:46 PM
    Author     : codeclub-seb
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}